   .video {
    position: relative;
    padding-bottom: 56.25%;
}
.video iframe {
    position: absolute;
    width: 100%;
    height: 100%;
}
.video-layout {
    max-width: 500px;
    border: 1px solid green;
}
#vid-left {
    margin-left: 25px;
    float: left;
}
#vid-mid {

}
#vid-right {
    float: right;
}

